body {
    font-family: 'Arila', sans-serif;
    font-size: 15px;
    color:#666666;
    line-height:1.5em;
    background: #f4f4f4;
}
#container {
    max-width: 960px;
    width: 100%;
    margin: 20px auto;
    overflow: auto;
    border:2px solid #cccccc;
    background: #f2f2f2;
    @include border-radius;

}


section {
    min-height: 200px;

}
